@charset "UTF-8";

header {
	justify-content: flex-start;
	padding: 20px;
}

.eni:hover {
	color: lime;
	font-size: 20px;
}

.eni {
	font-size: 20px;
	text-decoration: none;
	color: black;
}

.container {
	display: flex;
	height: 700 px;
	flex-direction: column;
}

.hautpage {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 15px;
	margin: 15px;
	margin-top: 20%;
}

.milieupage {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 15px;
	margin: 15px;
}

.a {
	color: violet;
}

.row {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5px;
	margin: 5px;
}

.baspage {
	display: flex;
	justify-content: center;
}

.BT_CREER_UN_COMPTE {
	border-radius: 15px;
}