@charset "UTF-8";

*{
	
	justify-content: center;
	

}



.retrait{
	
	display: flex;
flex-direction: column;
flex-wrap: wrap;
	
	 border:2px solid black;
	 padding: 10px;
	 border-spacing: 10px;
	 align-items: center;
	 
}

