@charset "UTF-8";

.container {
	display: flex;
	justify-content: center;
		 padding: 10px;
	 border-spacing: 10px;
	 line-height: 25px;

}

.label{
	padding: 5px;

}

.retrait{
	
	display: flex;
flex-direction: column;
flex-wrap: wrap;
	
	 border:2px solid black;
	 padding: 10px;
	 border-spacing: 10px;
	 align-items: center;
	 
}


.footer{
	 display: flex;
	 justify-content: flex-start;
	 border:2px solid black;
	 padding: 10px;
	
	flex-direction: row;
}